#storybook-root,
.sb-story > div {
    display: flex;
    flex-direction: column;
}

#storybook-root {
    &:has(.position-right.uktdropdown) {
        align-items: center;
        justify-content: center;
        height: calc(200vh - 110px);
        width: calc(200vw - 270px);
    }
}

.sb-story {
    &:has(.position-right.uktdropdown) {
        height: 350px;
        width: 100%;
        overflow: auto;
    }

    > div {
        &:has(.position-right.uktdropdown) {
            align-items: center;
            justify-content: center;
            height: 670px;
            width: calc(200% - 190px);
        }
    }
}

.sb-story {
    min-height: 180px;
}

.uktdropdown input {
    box-sizing: border-box;
    width: 110px;
}

.uktdropdown-body {
    ul {
        text-align: left;
        list-style-type: none;
        padding-left: 0px;
        margin: 0px;
    }

    li {
        padding: 4px 8px;
        margin: 4px 0;
        white-space: nowrap;
    }

    .heading {
        color: #aaa;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        margin: 0.75rem 0 0.5rem;
    }

    &:first-child {
        margin-top: 0.25rem;
    }
}

.no-trigger-text {
    .uktdropdown-trigger {
        position: relative;
        margin-left: 3px;
        width: 27px;
        height: 21px;
        vertical-align: top;

        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 9px;
            height: 2px;
            top: 10px;
            left: 4px;
            border-radius: 2px 0 0 3px;
            background-color: #666;
            transform: rotateZ(38deg);
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 9px;
            height: 2px;
            top: 10px;
            right: 4px;
            border-radius: 0 2px 2px 0;
            background-color: #666;
            transform: rotateZ(-38deg);
        }
    }
}

.font-weight {
    font-size: 13px;
}
.font-weight .item-title {
    color: #ababab;
}
.font-weight [data-ukt-active] .item-title {
    color: #fff;
}

.searchable-with-label,
.searchable-and-allow-create {
    input,
    .uktdropdown-body {
        width: 85px;
    }

    .uktdropdown-body {
        left: revert;
        right: anchor(right);
    }
}

.css-value-input-trigger {
    .uktdropdown-body {
        width: 110px;
        left: revert;
        right: anchor(right);
        margin-right: 14px;
    }
}

.dropdown-without-items .uktdropdown-body {
    width: 300px;
}

.textarea-trigger .uktdropdown-body {
    width: 400px;
    font-size: 13px;
}

.checkboxes .uktdropdown-body {
    width: 150px;
}

.checkboxes input[type="checkbox"] {
    width: auto;
}

.overlapping-dropdown .uktdropdown-body {
    margin-top: -22px;
    margin-left: -10px;
    width: 250px;
    min-height: 200px;
}

.out-of-bounds-example input {
    width: 150px;
}

.out-of-bounds-example .uktdropdown-body {
    width: 250px;
}

.position-right.uktdropdown {
    /* position: absolute;
    right: 65px; */
}

.out-of-bounds-example.no-direction-change.uktdropdown {
    position: relative;
    margin-top: 220px;
}

.out-of-bounds-example.no-direction-change .uktdropdown-trigger {
    width: 255px;
}

.out-of-bounds-example.no-direction-change.uktdropdown .uktdropdown-body {
    top: 100%;
}

#anchor--uikit-controls-dropdown--out-of-bounds-with-no-direction-change
    .innerZoomElementWrapper
    > * {
    overflow: auto;
    height: 200px;
}

#anchor--uikit-controls-dropdown--out-of-bounds-with-no-direction-change .sb-story {
    height: 230px;
}
