.input-text {
    width: 160px;
    padding: 3px 6px;
    font-family: system-ui, sans-serif;
    font-size: 13px;
    line-height: 13px;
}

.input-text-double-click-to-edit {
    border-color: transparent;
    max-width: 300px;

    &:read-only {
        cursor: pointer;
    }
}

.multi-line-input-text {
    width: 240px;
}

.multi-line-input-css-transition {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(242, 242, 242);
    font-size: 14px;
    line-height: 21px;
    outline-offset: -1px;
    resize: none;
    border-radius: 5px;
    outline: 2px solid #0000;
    height: 150px;
    padding: 20px;
    transition: all 0.25s ease-in-out;
}

[popover] {
    border: 0;
    box-shadow: 0px 3px 16px 1px rgba(0, 0, 0, 0.5);
    padding: 25px 30px;
    border-radius: 5px;
}
