.keyboard-event-row {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
        Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.keyboard-event-row .label {
    display: inline-block;
    min-width: 90px;
}

.keyboard-event-row input {
    font-size: 1.2rem;
    width: 100px;
}

.keyboard-event-row .code {
    font-family: "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono",
        "Source Code Pro", monospace;
}
