:root {
    --uktdd-font-family:
        system-ui, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
        Helvetica, Arial, sans-serif;
    --uktdd-body-bg-color: #fff;
    --uktdd-body-bg-color-hover: rgb(105, 162, 249);
    --uktdd-body-color-hover: #fff;
    --uktdd-body-buffer: 10px;
    --uktdd-body-max-height: calc(100vh - var(--uktdd-body-buffer));
    --uktdd-body-max-width: calc(100vw - var(--uktdd-body-buffer));
    --uktdd-body-pad-bottom: 9px;
    --uktdd-body-pad-left: 12px;
    --uktdd-body-pad-right: 12px;
    --uktdd-body-pad-top: 9px;
    --uktdd-label-pad-right: 10px;
}

.uktdropdown,
.uktdropdown-trigger {
    font-family: var(--uktdd-font-family);
}

.uktdropdown {
    width: max-content;
    anchor-scope: --uktdd-anchor;

    &.disabled {
        pointer-events: none;
    }

    > * {
        cursor: default;
    }

    > :first-child {
        anchor-name: --uktdd-anchor;
    }
}

.uktdropdown-label {
    display: flex;
    align-items: center;
}

.uktdropdown-label-text {
    padding-right: var(--uktdd-label-pad-right);
}

.uktdropdown-body {
    box-sizing: border-box;
    position: absolute;
    position-anchor: --uktdd-anchor;
    top: anchor(bottom);
    left: anchor(left);
    bottom: auto;
    right: auto;
    position-try-fallbacks: --uktdd-top-left, --uktdd-bottom-right, --uktdd-top-right;
    min-height: 50px;
    max-height: var(--uktdd-body-max-height);
    min-width: min(50px, 100%);
    max-width: var(--uktdd-body-max-width);
    overflow: auto;
    z-index: 2;
    padding: var(--uktdd-body-pad-top) var(--uktdd-body-pad-right)
        var(--uktdd-body-pad-bottom) var(--uktdd-body-pad-left);
    background-color: var(--uktdd-body-bg-color);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);

    &.has-items {
        user-select: none;
    }

    [data-ukt-active] {
        background-color: var(--uktdd-body-bg-color-hover);
        color: var(--uktdd-body-color-hover);
    }
}

@position-try --uktdd-top-left {
    bottom: anchor(top);
    left: anchor(left);
    top: auto;
    right: auto;
}

@position-try --uktdd-bottom-right {
    top: anchor(bottom);
    right: anchor(right);
    bottom: auto;
    left: auto;
}

@position-try --uktdd-top-right {
    bottom: anchor(top);
    right: anchor(right);
    top: auto;
    left: auto;
}
